/* html,
body,
#root,
#app > div {
  height: 100%;
} */

.App {
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    hsl(0deg 0% 0%) 0%,
    hsl(269deg 21% 16%) 84%,
    hsl(269deg 55% 25%) 100%
  );
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;

  color: white;
  font-weight: 700;
  font-size: 2em;

  transform: translateY(-100%);
  animation: slide-in-top 0.7s ease forwards;
  animation-delay: 1.2s;
}

.header-container img {
  height: 40px;
}

.header-container .logo-header-content {
  display: flex;
  align-items: center;
}

.right-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 50%;
  font-weight: 400;
  font-size: 0.8em;
}

.right-header-content > a {
  margin: 0px 40px;
  color: white;
  text-decoration: none;
}

.right-header-content a:after {
  margin-top: 4px;
  content: "";
  display: block;

  width: 0%;
  border-bottom: 2px solid rgb(20, 241, 149);
  transition: width 0.3s ease;
}

.right-header-content a:hover:after {
  width: 100%;
}

.right-header-content a:hover {
  color: rgb(20, 241, 149);
  transition: color 0.5s;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding: 64px;
}

.left-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-text {
  color: white;
  flex: 1;

  margin: 0;

  text-align: left;
  font-weight: bold;
  font-size: 6em;
  transform: translateX(-150%);
  animation: slide-in 1.5s ease forwards;
}

.left-bottom-text {
  display: flex;
  flex: 1;
  align-items: center;

  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  color: white;

  transform: translateX(-150%);
  animation: slide-in 1s ease forwards;
  animation-delay: 1s;
}

.right-block {
  display: flex;
  align-self: center;
  justify-content: center;
  flex: 2;
  opacity: 0;

  animation: fadein 1.5s ease forwards;
  animation-delay: 0.5s;
}

.right-content {
  display: flex;
  min-height: 300px;
  min-width: 450px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #232325;
  padding: 30px;
  border-radius: 15px;

  color: white;
}

.right-content .sub-text {
  color: white;
  font-weight: 700;
  font-size: 2em;
}

.right-content .right-content-title {
  display: flex;
  align-self: flex-start;

  font-size: 4em;
  font-weight: 600;

  margin: 0;
}

.right-content .right-content-subtitle {
  display: flex;
  align-self: flex-start;
  text-align: left;

  margin: 0 0 20px 0;
}

.eracounter-button {
  background-color: rgb(153, 69, 255);
  line-height: 1.25rem;
  border-radius: 20px;
  padding: 0px 15px;
  cursor: pointer;
  color: white;
  border: none;
  min-height: 40px;
}

.eracounter-button:hover {
  background-color: white;
  color: black;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-top {
  100% {
    transform: translateY(0%);
  }
}
